body{
    background-color:rgba(9, 25, 41, 0.342);
}
.whowe{
   text-align: center;
   padding-top: 30px;
  margin-top: 30px;
  padding-bottom: 100px;
}
.whowe p{
    font-weight: 600;
    font-size: 24px;
}
.whowe h1 {
    font-weight: bolder;
    font-size: 44px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#works {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
   font-size: 30px;
   font-weight: bolder;
}
.down {
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: 100;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    height: 200px;
    font-size: medium;
  }
.end {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
}
button{
    border-radius: 25px;
    border: 10px solid blue;
    border-style: ridge;
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bolder;
    height: 40px;
    padding: 20px;
    width: 8em;
    height: 3em;
    
}
   .nav-link {
       color: black;
   }
   .nav-link:hover{
    color: rgba(2, 20, 37, 0.911);
   }
   .nav-link:active{
       color: royalblue;
   }

